*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#1F392A;
    color: black;
}
.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #F4DCA2;
    border-radius: 20px 20px 0 0;
    margin-top: 5%;
}
img {
    width: 480px;
    margin-left: 20px;
    border-radius: 20px;
}
.bio {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 20px 0;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    font-size: 32px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    transition: all .2s;
}
a:hover{
    color: red;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}
.content p,a{
    padding-bottom:  20px;
    color: black;
}
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    background-color: #F4DCA2;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}
footer a{
    font-size: 18px;
}

@media (max-width: 750px) { 
    .bio {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
        padding: 20px 0;
    }
    img {
        width: 320px;
        margin: 0 auto;
        border-radius: 20px;
    }
    ul{
        padding-top: 20px ;
        font-size: 18px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    .container {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        max-width: 390px;
        margin: 0 auto;
        padding: 20px 0;
        background-color: #F4DCA2;
        border-radius: 20px 20px 0 0;
        margin-top: 5%;
    }
    footer{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 18px;
        background-color: #F4DCA2;
        max-width: 390px;
        margin: 0 auto;
        border-radius: 0 0 20px 20px;
    }
    footer a{
        font-size: 13px;
    }
}